<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Campo Yangu</a>
    <ul>
      <li><a href="/blogs">Blogs</a></li>
      <li><a href="/blogs/new">Add Blog</a></li>
    </ul>
  </nav>
</header>
